# YELP Reviews Data Analysis

NOTE: Before you can use an xlsx file, you must first activate the openpyxl module with the following steps
>> Settings >> Project >> Python Interpreter >> (+) button >> openpyxl

>> Reference: I got all these datasets from Coursera U.Penn Data Analysis course. Questions are modified to your skill level.


## Loading Data

The pandas module provides data analysis tools
- It can connect to and interact with a database
- It can also read and write Excel files
- It provides a useful read_excel method which reads an Excel file into a DataFrame
- A DataFrame is a 2-dimensional labeled data structure
- You can think of it like a spreadsheet or database table

In [1]:
import pandas as pd

df = pd.read_excel('yelp.xlsx') # reads the file into a DataFrame

print(df.head()) # prints the first 5 values

                           name   category_0       category_1  take_out  \
0  China Sea Chinese Restaurant  Restaurants          Chinese      True
1          Discount Tire Center        Tires       Automotive     False
2                  Frankfurters  Restaurants         Hot Dogs      True
3             Fred Dietz Floral     Shopping  Flowers & Gifts     False
4                 Kuhn's Market         Food          Grocery     False

   review_count  stars  city_id  state_id
0            11    2.5        1         1
1            24    4.5        1         1
2             3    4.5        1         1
3             6    4.0        1         1
4             8    3.5        1         1

## Reading specific sheet- pandas Module

- The pandas module also provides a useful ExcelFile class with a parse method that can read individual sheets in an Excel file 
- We’ll use this for loading our data
- Confirm you’ve downloaded the ‘yelp.xlsx’ file

In [4]:
import pandas as pd
xls = pd.ExcelFile('yelp.xlsx')

df = xls.parse('cities') # read a specific sheet into a DataFrame
print(df)

df2 = xls.parse('states') # read a specific sheet into a DataFrame
print(df2)

    id             city
0    1         Bellevue
1    2         Braddock
2    3         Carnegie
3    4        Homestead
4    5    Mc Kees Rocks
5    6    Mount Lebanon
6    7          Munhall
7    8       Pittsburgh
8    9   West Homestead
9   10     West Mifflin
10  11        Henderson
11  12        Las Vegas
12  13  North Las Vegas
   id state
0   1    PA
1   2    NV

## Information about local businesses in 13 cities in PA and NV
Courtesy Yelp Dataset Challenge (https://www.yelp.com/dataset_challenge)

### “yelp_data” tab data columns:
- name: Name of business
- category_0: 1st user-assigned business category
- category_1: 2nd user-assigned business category
- take-out: Flag (True/False) indicating if business provides take-out
- review_count: Number of reviews
- stars: Overall star rating
- city_id: Identifier referencing city of business (match to id on “cities” tab)
- state_id: Identifier referencing state of business (match to id on “states” tab)

### “cities” tab data columns:
- id: Unique identifier of city
- city: City name

### “states” tab data columns:
- id: Unique identifier of state
- state: State name

In [5]:
import pandas as pd
xls = pd.ExcelFile('yelp.xlsx')
df = xls.parse('yelp_data') #read the “yelp_data” sheet into a DataFrame

# df is a DataFrame
print("Printing the dataframe...")
print(type(df))

# Get a count of rows
print(len(df))

# Get the size (rows, columns)
print(df.shape)

Printing the dataframe...
<class 'pandas.core.frame.DataFrame'>
600
(600, 8)

## Inspecting Data - Dataframe

In [6]:
# Get a count of values in each column
print("Counting values in each column...")
print(df.count())

# You can look at the column headers by accessing the columns attribute
print("Column headers...")
print(df.columns)

# And the type of data stored in each column by accessing the dtypes attribute
print("Data type of values in each column...")
print(df.dtypes)

Counting values in each column...
name            600
category_0      600
category_1      600
take_out        600
review_count    600
stars           600
city_id         600
state_id        600
dtype: int64
Column headers...
Index(['name', 'category_0', 'category_1', 'take_out', 'review_count', 'stars',
       'city_id', 'state_id'],
      dtype='object')
Data type of values in each column...
name             object
category_0       object
category_1       object
take_out           bool
review_count      int64
stars           float64
city_id           int64
state_id          int64
dtype: object

## Inspecting Data - DataFrame

In [7]:
# Provides various summary statistics for the numerical values in DataFrame
print("Describing the numerical values of the dataframe...")
print(df.describe())

# Examine the first 20 rows
print("Printing the first 20 rows of the dataframe...")
print(df.head(20))

# Drop the duplicates (based on all columns) from df
print("Dropping duplicates based on all columns of the dataframe...")
df = df.drop_duplicates()

Describing the numerical values of the dataframe...
       review_count       stars     city_id    state_id
count    600.000000  600.000000  600.000000  600.000000
mean      33.771667    3.495000    9.193333    1.500000
std       86.901895    0.955596    2.997933    0.500417
min        3.000000    1.000000    1.000000    1.000000
25%        5.000000    3.000000    8.000000    1.000000
50%       10.000000    3.500000   10.500000    1.500000
75%       25.250000    4.000000   12.000000    2.000000
max     1305.000000    5.000000   13.000000    2.000000
Printing the first 20 rows of the dataframe...
                            name                    category_0  \
0   China Sea Chinese Restaurant                   Restaurants
1           Discount Tire Center                         Tires
2                   Frankfurters                   Restaurants
3              Fred Dietz Floral                      Shopping
4                  Kuhn's Market                          Food
5                 Lincoln Bakery                          Food
6               Luigi's Pizzeria                   Restaurants
7     Mane Attractions Unlimited                   Hair Salons
8            R & B's Pizza Place                   Restaurants
9                     Rusty Nail                   Restaurants
10                    Star Nails                 Beauty & Spas
11                          Vivo                   Restaurants
12                 Emil's Lounge                          Bars
13          Grand View Golf Club                   Active Life
14            Advance Auto Parts                    Automotive
15         Alexion's Bar & Grill                          Bars
16              Alteration World                Local Services
17                      Amerifit                   Active Life
18  Barb's Country Junction Cafe                   Restaurants
19         Carnegie Free Library  Public Services & Government

                category_1  take_out  review_count  stars  city_id  state_id
0                  Chinese      True            11    2.5        1         1
1               Automotive     False            24    4.5        1         1
2                 Hot Dogs      True             3    4.5        1         1
3          Flowers & Gifts     False             6    4.0        1         1
4                  Grocery     False             8    3.5        1         1
5                 Bakeries      True            25    4.0        1         1
6                    Pizza      True            18    4.0        1         1
7            Beauty & Spas     False             4    3.0        1         1
8                    Pizza      True            17    4.0        1         1
9   American (Traditional)      True            32    3.5        1         1
10             Nail Salons     False             7    2.5        1         1
11                 Italian     False             3    5.0        1         1
12          American (New)      True            26    4.5        2         1
13                    Golf     False             3    5.0        2         1
14   Auto Parts & Supplies     False             3    3.5        3         1
15  American (Traditional)      True            23    4.0        3         1
16    Sewing & Alterations     False            10    4.5        3         1
17                  Boxing     False             8    3.0        3         1
18                   Cafes      True             9    4.0        3         1
19               Libraries     False             4    4.5        3         1
Dropping duplicates based on all columns of the dataframe...

## Querying Data
- Select just the business names using the “name” of the attribute in between square brackets []
__df[”name"] #returns name for every record__
- Query the location for the first 100 businesses
__atts = ["name", "city_id", "state_id”]__ # store the list of attributes in a list
__df[atts].head(100)__
- This only shows the id for each city and state
- How can we get the actual values?

In [9]:
# Select just the business names using the “name” of the attribute in between square brackets []
print("Printing the name for every record in the dataframe...")
print(df["name"]) # returns name for every record

# Query the location for the first 100 businesses
print("Querying the location for the first 100 businesses and displaying only the three columns...")
atts = ["name", "city_id", "state_id"] # store the list of attributes in a list
print(df[atts].head(100)) # This only shows the id for each city and state. How can we get the actual values?

Printing the name for every record in the dataframe...
0                           China Sea Chinese Restaurant
1                                   Discount Tire Center
2                                           Frankfurters
3                                      Fred Dietz Floral
4                                          Kuhn's Market
                             ...
595    Republic Services of Southern Nevada Recycling...
596                                         SA Recycling
597                                      Jack In the Box
598                                 Custom Hearth & Door
599                                     A Sunrise Towing
Name: name, Length: 600, dtype: object
Querying the location for the first 100 businesses and displaying only the three columns...
                                              name  city_id  state_id
0                     China Sea Chinese Restaurant        1         1
1                             Discount Tire Center        1         1
2                                     Frankfurters        1         1
3                                Fred Dietz Floral        1         1
4                                    Kuhn's Market        1         1
..                                             ...      ...       ...
95                             Aamco Transmissions        8         1
96  Animal Rescue League Shelter & Wildlife Center        8         1
97                          Aracri's Greentree Inn        8         1
98                           Atch-Mont Real Estate        8         1
99                              Atria's Restaurant        8         1

[100 rows x 3 columns]

## Joining Data
- We need to look up the values in the “cities” sheet and “states” sheet
    - Then combine them with the data in the “yelp_data” sheet
- We do this by joining the datasets using a common field (identifier) in each
    - Note: This process of joining tables is similar to what we do with tables in a relational database
- The city_id in “yelp_data” will join to the id in “cities”
- The state_id in “yelp_data” will join to the id in “states”

## Joining Data
>> The most common type of join is called an inner join
- Combines DataFrames based on a join key (common identifier)
- Returns a new DataFrame that contains only those rows where the value being joined exists in BOTH tables

<img src="joiiningdata.png">

In [10]:
# Import the “cities” sheet into it’s own DataFrame using the parse method
df_cities = xls.parse('cities')
         
'''
 The pandas function for performing joins is called merge
• Specify the DataFrames to join in the “left” and “right” arguments
• Specify inner (the default option) for the “how” argument
• Specify the join keys in the “left_on” and “right_on” arguments
'''                      
df = pd.merge(left=df, right=df_cities, how='inner', left_on='city_id', right_on='id')

#What’s the new size (rows, columns) of df?
print("Printing the new size(rows, columns of the dataframe...)")
print(df.shape)

# Now we can see the cities in df

df.head()

Printing the new size(rows, columns of the dataframe...)
(600, 10)

,name,category_0,category_1,take_out,review_count,stars,city_id,state_id,id,city
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11,2.5,1,1,1,Bellevue
1,Discount Tire Center,Tires,Automotive,False,24,4.5,1,1,1,Bellevue
2,Frankfurters,Restaurants,Hot Dogs,True,3,4.5,1,1,1,Bellevue
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6,4.0,1,1,1,Bellevue
4,Kuhn's Market,Food,Grocery,False,8,3.5,1,1,1,Bellevue

## YOU DO: Formative #2 - Joining Data
> A. Import the “states” sheet into it’s own DataFrame
1. Join (merge) with df
2. Calculate the new size (rows, columns) of df
3. Show the name, city, and state for the first 100 businesses


> B. Import the “states” sheet into it’s own DataFrame
1. Join (merge) with df
2. Calculate the new size (rows, columns) of df
3. Show the name, city, and state for the first 100 businesses

In [15]:
import pandas as pd

# Load the Excel file
xls = pd.ExcelFile('yelp.xlsx')  # Replace with the actual file name

# Read the sheets into DataFrames
df = xls.parse('yelp_data')
df_states = xls.parse('states')
df_cities = xls.parse('cities')  # Load the "cities" sheet


# Merge df with df_cities to get the city name
df = pd.merge(left=df, right=df_cities, how='inner', left_on='city_id', right_on='id')

# Merge df with df_states to get the state name
df = pd.merge(left=df, right=df_states, how='inner', left_on='state_id', right_on='id')

# Print the new DataFrame size
print("New DataFrame size:", df.shape)

# Select and print the first 100 businesses with name, city, and state
atts = ["name", "city", "state"]
print(df[atts].head(100))

New DataFrame size: (600, 12)
                                              name        city state
0                     China Sea Chinese Restaurant    Bellevue    PA
1                             Discount Tire Center    Bellevue    PA
2                                     Frankfurters    Bellevue    PA
3                                Fred Dietz Floral    Bellevue    PA
4                                    Kuhn's Market    Bellevue    PA
..                                             ...         ...   ...
95                             Aamco Transmissions  Pittsburgh    PA
96  Animal Rescue League Shelter & Wildlife Center  Pittsburgh    PA
97                          Aracri's Greentree Inn  Pittsburgh    PA
98                           Atch-Mont Real Estate  Pittsburgh    PA
99                              Atria's Restaurant  Pittsburgh    PA

[100 rows x 3 columns]

### Learning Reflection
> Write about what you have realized from the topics covered in this notebook.
- What did you find useful? What wasn’t helpful?
- What concepts were challenging?
- What topics were easy to understand?
- Keep your response clear and concise, with a maximum of 100 words.
- Write your answer inside the pair of three single quotes

In [ ]:
'''
 I found merging DataFrames with pd.merge() useful for handling relational data. Understanding how to join datasets based on keys (e.g., state_id, city_id) was challenging at first since I didn't realize they were connecting to different tables. Loading Excel sheets and exploring DataFrames were straightforward due to pandas methods like .head() and .columns.

Something that I learned is being able to merge different tables into one in order to access different data that connect to create a type of relational database. This approach helped me see how structured data can be efficiently analyzed and linked for meaningful insights.

'''